<!-- templates/canteen.html -->

<div class="wrapper-canteen tile">
    {% set date_parts = canteen_data.date.split('-') if canteen_data else None %}
    <div class="canteen-header-line">
        <h2 class="canteen-title">{{ canteen_name }}</h2>
        {% if date_parts %}
            <span class="menu-date">Menü am {{ date_parts[2] }}.{{ date_parts[1] }}.{{ date_parts[0] }}</span>
        {% endif %}
    </div>
    {% if canteen_data %}   
        {% if canteen_data.dishes %}
            <div class="dish-container">
                {% for dish in canteen_data.dishes %}
                    {% if dish.dish_type not in ["Süßspeise", "Tagessupe, Brot, Obst", "Tagessuppe", "Brot", "Obst", "Dessert (Glas)"] %}
                        <div class="dish-box">
                            <span>
                                {% if dish.dish_type == "Pizza" %}🍕
                                {% elif dish.dish_type == "Pasta" %}🍝
                                {% elif dish.dish_type == "Grill" %}🍖
                                {% elif dish.dish_type == "Studitopf" %}🥘
                                {% elif dish.dish_type == "Fisch" %}🐟
                                {% elif dish.dish_type == "Wok" %}🥡
                                {% elif dish.dish_type == "Fleisch" %}🥩
                                {% elif dish.dish_type == "Vegetarisch/fleischlos" %}🌱
                                {% else %}{{ dish.dish_type }}
                                {% endif %}
                                
                            </span>
                            <strong class="dish-title">{{ dish.name }}</strong><br>
    
                            {% if show_prices %}
                                <span class="price-line">
                                    {% set student_price = dish.prices.get('students', {}) %}
                                    {% if student_price.base_price %}
                                        €{{ '%.2f' | format(student_price.base_price) }}
                                    {% elif student_price.price_per_unit %}
                                        €{{ '%.2f' | format(student_price.price_per_unit) }} per {{ student_price.unit }}
                                    {% else %}
                                        Not Available
                                    {% endif %}
                                </span>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            <p>No dishes available for today.</p>
        {% endif %}
    {% else %}
        <h2>{{ error }}</h2>
    {% endif %}
</div>
