<!-- templates/header_tile.html -->
<div class="tile header-tile" style="grid-area: header;">
    <div class="header-inner">
        <div class="brand">
            <img src="{{ url_for('static', filename='/assets/logo.png') }}" alt="Campus Connect Logo" class="logo"><br>
            <div class="timestamp" id="current-time"></div>
        </div>
        <div class="weather">
            <h3>Wetter München</h3>
            <div class="data-wrapper">
                <span class="current-temperature" id="current-temperature"></span>
                <div class="max-min-wrapper">
                    <p id="max-temperature"></p>
                    <p id="min-temperature"></p>
                </div>
            </div>
            <div class="extras">
                <div class="extra-item">
                    <img class="icon" src="{{ url_for('static', filename='assets/icons/bx-bolt.svg') }}" alt="UV" />
                    <span id="uv-index"></span>
                </div>
                <div class="extra-item">
                    <img class="icon" src="{{ url_for('static', filename='assets/icons/bx-sun-rise.svg') }}" alt="Sonnenaufgang" />
                    <span id="sunrise"></span>
                </div>
                <div class="extra-item">
                    <img class="icon" src="{{ url_for('static', filename='assets/icons/bx-sun-set.svg') }}" alt="Sonnenuntergang" />
                    <span id="sunset"></span>
                </div>
            </div>
        </div>
    </div>
</div>

