<!-- templates/weather_tile.html -->
<div class="tile weather-tile" style="grid-area: weather;">
  <h2>Wetter München</h2>
  <div class="weather-flex">
    <div class="weather-left">
      <span class="current-temperature" id="current-temperature"></span>
      <div class="max-min-wrapper">
        <p id="max-temperature"></p>
        <p id="min-temperature"></p>
      </div>
    </div>
    <div class="weather-right">
      <div class="extras">
        <div class="extra-row">
          <span class="extra-label"><img class="icon" src="{{ url_for('static', filename='assets/icons/bx-bolt.svg') }}" alt="UV" /></span>
          <span class="extra-value" id="uv-index"></span>
        </div>
        <div class="extra-row">
          <span class="extra-label"><img class="icon" src="{{ url_for('static', filename='assets/icons/bx-sun-rise.svg') }}" alt="Sonnenaufgang" /></span>
          <span class="extra-value" id="sunrise"></span>
        </div>
        <div class="extra-row">
          <span class="extra-label"><img class="icon" src="{{ url_for('static', filename='assets/icons/bx-sun-set.svg') }}" alt="Sonnenuntergang" /></span>
          <span class="extra-value" id="sunset"></span>
        </div>
      </div>
    </div>
  </div>
</div>
